.header-top {
  display: flex;
}

.header-middle {
  display: flex;
}

.catalog-list {
  display: grid;
  grid-template-columns: auto auto auto;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.breadcrumb {
  display: flex; 
}

.aside {
  display: block;
  width: 200px;
}

.catalog {
  display: block;
}

.sort {
  display: flex;
}

.logo-technomart {
  background: #ee3643;
  width: 200px;
}

.footer-top {
  display: flex;
}

.footer-middle {
  display: flex;
}

.footer-middle-links {
  display: flex;
}

.footer-bottom {
  display: flex;
}

.socicons {
  display: flex;
}

.maincontent {
  display: flex;
}

.main-bottom  {
  display: flex;
}